* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
}



#svg {
    width: 100%;
}

#svg svg{
    overflow: visible;
}


    .dot {
      width: 14px;
      height: 14px;
      background: #EDA942;
      border-radius: 50%;
      position: absolute;
    }